<div class="relative flex flex-col gap-2 text-yellow-50">
  <div class="flex justify-end overflow-hidden whitespace-nowrap gap-2 esteira">
    <p class="text-4xl">LEAGUE OF LEGENDS *</p>
    <p class="text-4xl">STAR GUARDIANS 2022 *</p>
    <p class="text-4xl">LEAGUE OF LEGENDS *</p>
    <p class="text-4xl">STAR GUARDIANS 2022 *</p>
    <p class="text-4xl">LEAGUE OF LEGENDS *</p>
    <p class="text-4xl">STAR GUARDIANS 2022</p>
  </div>

  <footer class="flex justify-center w-full h-auto">
    <p class="text-sm font-bold">
      Todos os direitos reservados a Riot Games. Este site não é afiliado ou
      endossado pela Riot Games.
    </p>
  </footer>
</div>
