<div class="relative border-b-2 py-4 border-white"></div>
<nav class="relative flex justify-around w-full font-bold text-yellow-50 py-4">
  <a
    class="cursor-pointer"
    mat-button
    [matMenuTriggerFor]="starsMenu"
    >STARS</a
  >
  <a
    class="cursor-pointer"
    mat-button
    [matMenuTriggerFor]="enemyStarsMenu"
    >ENEMY-STARS</a
  >

  <mat-menu
    #starsMenu
    class="text-yellow-50">
    <a
      mat-menu-item
      routerLink="/stars/akali"
      >Akali</a
    >
    <a
      mat-menu-item
      routerLink="/stars/kaisa"
      >Kaisa</a
    >
    <a
      mat-menu-item
      routerLink="/stars/orianna"
      >Orianna</a
    >
    <a
      mat-menu-item
      routerLink="/stars/rakan"
      >Rakan</a
    >
    <a
      mat-menu-item
      routerLink="/stars/senna"
      >Senna</a
    >
    <a
      mat-menu-item
      routerLink="/stars/seraphine"
      >Seraphine</a
    >
    <a
      mat-menu-item
      routerLink="/stars/xayah"
      >Xayah</a
    >
  </mat-menu>

  <mat-menu
    #enemyStarsMenu
    class="text-yellow-50">
    <a
      mat-menu-item
      routerLink="/enemy-stars/fiddlesticks"
      >Fiddlesticks</a
    >
    <a
      mat-menu-item
      routerLink="/enemy-stars/morgana"
      >Morgana</a
    >
    <a
      mat-menu-item
      routerLink="/enemy-stars/zoe"
      >Zoe</a
    >
  </mat-menu>

  <a
    class="cursor-pointer"
    mat-button
    routerLink="/wallpapers"
    >WALLPAPERS</a
  >
</nav>
